
.gif {
    
    padding: 20px;
    margin: 5px 5px 0px 5px;
    
    
}

h6 {
    padding: 0px 20px 20px 20px;
    margin: 0px 5px 5px 5px;
    
    
}

#headings {
    text-align: center;
    background-color: blue;
    width: 100%;
    color: white;
    border-radius:10px;
    padding: 20px; 
}

#button-bar {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;  
}

#car-form {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.btn {
    margin: 5px;
}

#photos-appear-here {
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    float: left;
    position: relative;
}

.gifContainer {
    width: 33.33%;
    float: left;
}